* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----------------NAVBAR---------------*/
.navbar-custom {
  background-color: #DD5041;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.navbar-logo {
  height: 5rem;
  margin-left: 3rem;
}

.navbar-collapse {
  font-size: 30px;
  justify-content: end;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-link {
  position: relative;
  color: #e0dbdb;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.nav-link:after {
  display: none;
}

.nav-link:hover {
  color: white;
}

.nav-link:focus {
  color: white;
}

.dropdown-menu {
  background-color: #DD5041;
  border: none;
  font-size: 30px;
}

.dropdown-item {
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/*-------------------INDEX---------------*/
.main-container {
  padding-top: 15rem;
}

@media (max-width: 768px) {
  .main-container {
    padding-top: 10rem;
  }
}

.dashboard {
  background-color: #F7E3E1;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 1);
}

.fa-thumbtack {
  transform: rotate(30deg);
}

.input-field input {
  width: 80%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 20px;
  padding-left: 15px;
}

.input-field button {
  width: 35px;
  height: 100%;
  border: none;
  color: red;
  background-color: white;
  margin-left: 5px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.todo-list {
  padding-left: 0;
}

.todo-list li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: white;
  border-radius: 3px;
  padding: 0 15px;
}

.todo-list li span {
  position: absolute;
  right: 0;
  width: 45px;
  background-color: #DD5041;
  color: white;
  text-align: center;
}

.dashboard-footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #DD5041;
  cursor: pointer;
  user-select: none;
}

/*--------JANIJIM-------*/
.janijim{
  padding-top: 10rem;
}